body{
    background-color: aquamarine;
}
#form{
    background-color: rgb(13, 223, 31);
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(13, 223, 31);
    border-radius: 6px;
}
#btn{
    color:rgb(13, 223, 31);
    background-color: rgb(11, 102, 72);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}
@media screen and (max-width:800px){
    #form{
        width:80%;
        padding:50px;
    }
}